*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Noto Sans', sans-serif;
  --font-secondary: ; /* ПУСТО */
  --bg-color: #122112;
  --main-color: #ffffff;
  --footer-bg: #161624;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--main-color);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
  }
}