@import url(./css/global.css);
@import url(./css/header.css);
@import url(./css/articles.css);


/* Тёмная тема: */
.color1 {color: #000006;} /* – Фон (почти чёрный, отлично подойдёт для глубокой тёмной темы). */
.color2 {color: #0c2426;} /* – Фон карточек, секций (глубокий тёмно-зелёный/сине-зелёный, создаст атмосферу ретро). */
.color3 {color: #285356;} /* – Тексты заголовков (контрастный, но не слишком резкий). */
.color4 {color: #468096;} /* – Ссылки, иконки, элементы UI (разбавит темноту, добавит стиля). */
.color5 {color: #55a59e;} /* – Кнопки, важные акценты (яркий, но в стиле винтажа). */
/* Светлая тема:*/
.color5 {color: #55a59e;} /* – Фон сайта (светлый пастельный, приятный винтажный оттенок). */
.color4 {color: #468096;} /* – Фон карточек, блоков (слегка затемнённый). */
.color3 {color: #285356;} /* – Текст заголовков (контрастный, но не слишком тёмный). */
.color2 {color: #0c2426;} /* – Тексты основного контента (читаемый, не чёрный, не напрягает глаза). */
.color1 {color: #000006;} /* – Тёмные акценты, элементы UI (разделители, тени, кнопки).  */
